<div class="container-fluid">
  <div class="row main">
    <div *ngIf="coinData" class="col-md-12">
      <mat-card class="example-card">
        <mat-card-header>
          <div
            mat-card-avatar
            class="example-header-image"
            style="background-image: url('{{ coinData.image?.small }}');"
          ></div>
          <mat-card-title
            >{{ coinData.name
            }}<button
              class="btn btn-link"
              (click)="toggleFavorite(coinData.id)"
            >
              <mat-icon>{{
                isFavoriteItem(coinData.id) ? "favorite" : "favorite_border"
              }}</mat-icon>
            </button></mat-card-title
          >
          <mat-card-subtitle>{{
            coinData?.hashing_algorithm
          }}</mat-card-subtitle>
        </mat-card-header>
        <img
          class="mainImage"
          [src]="coinData.image?.large"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-subtitle
          >Current Price:{{
            coinData?.market_data?.current_price.cad | currency : currency
          }}</mat-card-subtitle
        >
        <mat-card-content>
          <p style="color: white" [innerHTML]="coinData.description?.en"></p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button [href]="coinData.links?.homepage[0]"
            >Official Website</a
          >
          <a
            *ngIf="coinData.links?.repos_url?.github.length > 0"
            mat-button
            [href]="coinData.links?.repos_url?.github[0]"
            >Repo Link</a
          >
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-9 centered-div">
      <div class="main">
        <h1 class="text-center p-3">Trends of last 30 days</h1>
        <canvas
          style="width: 300px"
          baseChart
          [data]="lineChartData"
          [options]="lineChartOptions"
          [type]="lineChartType"
        ></canvas>
      </div>
    </div>
  </div>
</div>
