*{
    margin: 0px;
    padding: 0px;
    
}
.example-card {
    max-width: 100%;
    display: flex;
        justify-content: center;
        align-items: center;
}

.example-header-image {
    
    background-size: cover;
    
}
.mainImage{
    border-radius: 35px;
    max-width: 300px;
    margin-bottom: 25px;
   
   
}